ARENTI_USER=ton@email.com
ARENTI_PASS=TonMotDePasse
# Récupère ces valeurs via: curl http://localhost:8080/devices
CAM_SALON_ID=
CAM_SALON_KEY=
CAM_RAPHAEL_ID=
CAM_RAPHAEL_KEY=
CAM_SIRIUS_ID=
CAM_SIRIUS_KEY=
